.root {
	position: relative;
	display: grid;
	grid-template-columns: 430px 1fr;
	padding: 125px 75px 125px 262px;
}

.root::before {
	content: '';
	position: absolute;
	opacity: 0.22;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
		linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%);
	width: 100%;
	height: 100%;
}
.root::after {
	content: '';
	position: absolute;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
	width: 100%;
	height: 100%;
}

.logo {
	margin-bottom: 72px;
}

.text {
	color: #21201f;
	font-family: 'text-medium', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 44px;
}

.price {
	display: inline-flex;
	color: #808080;
	font-family: 'text-medium', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	border-radius: 500px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%),
		radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
	padding-right: 12px;
	margin-left: 5px;
}

.newPrice {
	display: inline-block;
	color: #2e2c21;
	font-size: 24px;
	font-weight: 600;
	border-radius: 500px;
	background: radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);
	padding: 7px 12px;
	margin-right: 12px;
}

.oldPrice {
	text-decoration: line-through;
	display: inline-flex;
	align-items: center;
}

.colLeft {
	position: relative;
	z-index: 11;
}

.colRight {
	background: url('../../../public/img/top-image.png') no-repeat;
	background-size: contain;
	background-position: 0 0;
	position: relative;
	z-index: 10;
}
