.root {
	margin-bottom: 100px;
}

.box {
	display: flex;
	gap: 15px;
}

.col {
}

.text {
	color: #21201f;
	font-family: 'text-medium', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 120%;
	max-width: 445px;
	margin-bottom: 70px;
}

.imageWrapper {
	position: relative;
}

.imageWrapper::before {
	content: '';
	position: absolute;
}

.imageWrapperPeople {
	padding-top: 50px;
}

.imageWrapperPeople::before {
	width: 345px;
	height: 280px;
	right: -150px;
	top: -35px;
	background: url('../../../public/img/ExclusiveAccess-1-before.png') no-repeat;
}

.imageWrapperMan::before {
	width: 350px;
	height: 325px;
	left: -200px;
	top: -25px;
	background: url('../../../public/img/ExclusiveAccess-2-before.png') no-repeat;
}

.imageWrapperSunGirl::before {
	width: 390px;
	height: 345px;
	right: -150px;
	bottom: -180px;
	background: url('../../../public/img/ExclusiveAccess-3-before.png') no-repeat;
}

.imageWrapper img {
	max-width: 456px;
	border-radius: 25%;
}
