.h1,
.h2,
.h3 {
	color: #21201f;
	font-family: 'text-black', sans-serif;
	font-weight: 900;
	line-height: 100%;
	margin-bottom: 48px;
}

.h1 {
	font-size: 72px;
	letter-spacing: -1.44px;
}

.h2 {
	font-size: 56px;
	letter-spacing: -1.12px;
}

.h3 {
	font-size: 48px;
	letter-spacing: -0.96px;
}
